<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head') %>
    <title><%= title %></title>
  </head>
  <body>
    <%- include('../partials/header') %>

    <hr />

    <%- body %>

    <hr />

    <footer>
      <p>Copyright 2025 - Belajar Backend</p>
    </footer>

    <%- include('../partials/scripts') %>
  </body>
</html>
