<!DOCTYPE html>
<html>
  <head>
    <%- include('./head') %>
    <title><%= title %></title>
  </head>
  <body class="min-h-screen flex flex-col">
    <%- include('../partials/header') %>

    <hr />

    <main class="min-h-max flex flex-col items-center justify-center bg-gray-100 p-6">
      <%- body %>
    </main>

    <hr />

    <footer class="py-4">
      <p class="text-center text-gray-700 text-sm">
        Copyright 2025 - Belajar Backend
      </p>
    </footer>

    <%- include('./scripts') %>
  </body>
</html>
