<section class="w-full flex flex-col justify-center items-center">
  <% if (error.length > 0) { %>
  <div class="bg-red-100 text-red-700 p-2 rounded mb-3"><%= error %></div>
  <% } %> <% if (success.length > 0) { %>
  <div class="bg-green-100 text-green-700 p-2 rounded mb-3"><%= success %></div>
  <% } %>
  <form
    class="w-full max-w-xl bg-white shadow-md rounded-lg p-6 space-y-4"
    method="post"
    action="<%= todo ? `/update-todo/${todo.id}` : `/add-todo` %>"
  >
    <h1 class="text-2xl font-semibold text-gray-800 text-center">
      Form <%= todo ? `Edit` : `Tambah` %> Todo-List
    </h1>

    <div>
      <label class="block text-gray-700 mb-1" for="title">Judul</label>
      <input
        type="text"
        id="title"
        name="title"
        value="<%= todo ? todo.title : '' %>"
        class="w-full border border-gray-300 rounded-md px-3 py-2 focus:outline-none focus:ring focus:ring-blue-300"
        placeholder="Masukkan Judul..."
      />
    </div>

    <div>
      <label class="block text-gray-700 mb-1" for="desc">Deskripsi</label>
      <textarea
        id="desc"
        name="desc"
        rows="4"
        class="w-full border border-gray-300 rounded-md px-3 py-2 focus:outline-none focus:ring focus:ring-blue-300"
        placeholder="Masukkan deskripsi..."
      >
<%= todo ? todo.desc : '' %></textarea
      >
    </div>
    <input type="hidden" id="done" name="done" value="" />

    <button
      type="submit"
      class="w-full bg-blue-600 hover:bg-blue-700 text-white font-medium py-2 rounded-md transition"
    >
      <%= todo ? 'Update Todo' : 'Tambah Todo' %>
    </button>
  </form>
</section>

<section class="w-full justify-center items-center max-w-xl mx-auto mt-6 grid grid-cols-1 sm:grid-cols-2 gap-4">
  <div class="bg-white shadow-md rounded-lg p-4 space-y-2">
    <form id="searchForm" action="" method="get" class="search w-full max-w-lg">
      <div class="relative w-full flex items-center">
        <input
          type="search"
          id="search"
          name="search"
          placeholder="Search..."
          class="w-full border border-gray-300 rounded-md pl-3 pr-10 py-2 focus:outline-none focus:ring focus:ring-blue-300"
        />

        <!-- Wrapper Icon (ikuti padding input biar pas) -->
        <div class="absolute right-2 top-1/2 -translate-y-1/2">
          <button
            type="submit"
            class="text-blue-500 hover:text-blue-600 transition p-1"
          >
            <%- include('./partials/icon-search') %>
          </button>
        </div>
      </div>

    </form>
  </div>
  <div class="filter bg-white shadow-md rounded-lg p-4 space-y-2">
    <div class="flex items-center justify-between relative">
      <select
        name="filter"
        id="filter"
        class="cursor-pointer appearance-none w-full border border-gray-300 rounded-md px-3 py-2 focus:outline-none focus:ring focus:ring-blue-300"
      >
        <option value="" disabled <%= !activeFilter ? 'selected' : '' %>>
          Filter Tugas
        </option>
        <option value="all" <%= activeFilter == 'all' ? 'selected' : '' %>>
          All
        </option>
        <option value="done" <%= activeFilter == 'done' ? 'selected' : '' %>>
          Selesai
        </option>
        <option value="notDone" <%= activeFilter == 'notDone' ? 'selected' : '' %>>
          Belum Selesai
        </option>
      </select>
      <div
        class="absolute inset-y-0 right-0 flex items-center pr-3 pointer-events-none"
      >
        <!-- Icon chevron-down -->
        <%- include('./partials/icon-chevron-down') %>
      </div>
      <div
        class="absolute right-12 flex items-center pointer-events-none bg-blue-600 rounded-full px-2 py-0"
      >
        <!-- Icon chevron-down -->
        <p class="text-white text-sm">
          <%= todos.length %>
        </p>
      </div>
    </div>
  </div>
  <div class="sort bg-white shadow-md rounded-lg p-4 space-y-2">
    <div class="flex items-center justify-between relative">
      <select
        name="sort"
        id="sort"
        class="cursor-pointer appearance-none w-full border border-gray-300 rounded-md px-3 py-2 focus:outline-none focus:ring focus:ring-blue-300"
      >
        <option value="" disabled <%= !activeSort ? 'selected' : '' %>>
          Sortir Tugas
        </option>
        <option value="oldest" <%= activeSort == 'oldest' ? 'selected' : '' %>>
          Terlama
        </option>
        <option value="newest" <%= activeSort == 'newest' ? 'selected' : '' %>>
          Terbaru
        </option>
      </select>
      <div
        class="absolute inset-y-0 right-0 flex items-center pr-3 pointer-events-none"
      >
        <!-- Icon chevron-down -->
        <%- include('./partials/icon-chevron-down') %>
      </div>
    </div>
  </div>
</section>

<!-- Data Todo -->
<section class="max-w-xl mx-auto mt-6 grid grid-cols-1 sm:grid-cols-2 gap-4">
  <!-- Card Todo -->
  <% todos.forEach(todo => { %>
  <div class="bg-white shadow-md rounded-lg p-4 group relative">
    <div class="flex items-start justify-between">
      <h3 class="text-lg font-semibold text-gray-800 uppercase">
        <%= todo.title %>
      </h3>

      <div class="btn flex flex-col-reverse gap-2">
        <button
          type="submit"
          onclick="openDeleteModal('<%= todo.id%>')"
          class="opacity-0 group-hover:opacity-100 transition text-red-600 hover:text-red-700"
        >
          <!-- icon trash -->
          <%- include('./partials/icon-trash') %>
        </button>
  
        <a
          href="/edit-todo/<%= todo.id %>"
          class="opacity-0 group-hover:opacity-100 transition text-green-600 hover:text-green-700"
        >
          <!-- icon edit -->
          <%- include('./partials/icon-edit') %>
        </a>
      </div>
    </div>

    <p class="text-sm text-gray-600 mt-2"><%= todo.desc %></p>

    <form action="/update-complete-todo/<%= todo.id %>" method="post">
      <button
        type="submit"
        class="opacity-<%= todo.done ? '80' : '50' %> hover:opacity-90 transition text-blue-600 hover:text-blue-700 absolute bottom-3 right-5 text-sm"
      >
        <%- include('./partials/icon-checklist') %>
      </button>
    </form>
  </div>
  <% }) %>
</section>

<div class="sort bg-blue-300 shadow-md rounded-2xl p-4 space-y-2 fixed bottom-5 right-3 z-10">
  <div class="flex items-center justify-between relative">
    <button id="reload" class="p-2 text-gray-600 hover:text-gray-900 transition">
      <%- include('./partials/icon-reload') %>
    </button>
  </div>
</div>

<!-- modal delete konfirmasi -->
<%- include('./partials/modal-confirm') %>
<script>
  const filterEl = document.getElementById("filter");
  const sortEl = document.getElementById("sort");
  const searchEl = document.querySelector('form.search');
  const searchValue = document.getElementById("search").value;

  const reloadEl = document.getElementById('reload');

  reloadEl.addEventListener('click', function () { 
    return window.location = '/';
  })
  
  searchEl.addEventListener("submit", function(e){
    const params = new URLSearchParams(window.location.search);

    if (searchValue) {
      params.set("search", searchValue);
    } else {
      params.delete("search");
    }

    searchEl.action = `/?${params.toString()}`;
  });
  
  filterEl.addEventListener('change', function () {
    const params = new URLSearchParams(window.location.search);
    
    if(this.value == 'all') {
      params.delete('filter');
    }else {
      params.set('filter', this.value);
      params.delete("search");
    }
    
    window.location.search = params.toString();
  });

  sortEl.addEventListener('change', function () { 
    const params = new URLSearchParams(window.location.search);

    if(this.value == 'all') {
      params.delete('sort');
    }else {
      params.set('sort', this.value);
      params.delete("search");
    }

    window.location.search = params.toString();
  });


</script>
